body {
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.922);
}

main {
    color: white;
    display: flex;
    place-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: system-ui;
    justify-content: space-evenly;
    gap: 3rem;
    border: 5px solid white;
    padding: 15px;
    text-align: center;
}

.text {
    width: 50%;
}

button{
    width: auto;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    background-color: aqua;
    color: black;
}


img {
    max-width: 320px;
    height: auto;
   
}

.loading-img .img {
    width: 150px;
    height: 150px;
}

.imgUrl{
border: 5px solid white;
margin-bottom: 25px;
}